* {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  /* height: 0.5rem; */
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  /* background: #edf2f7; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #cbd5e0; */
  background: linear-gradient(180deg, rgba(255, 233, 155, 1) 0%, rgba(255, 171, 124, 1) 50%, rgba(255, 86, 80, 1) 100%);
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgb(255, 229, 133) 0%, rgb(255, 151, 91) 50%, rgb(240, 56, 50) 100%);
}

.heigt100 {
  height: 100%;
}
.width100 {
  width: 100%;
}
.icon-grad {
  fill: url("#iconGrad");
}

/* text area */

.textInput {
  resize: none;
}

.boxEle {
  width: 130px;
  color: #929292;
}

.boxProfile {
  border-radius: 125px 0px;
}

/* background color */
.bg-primary-grad {
  background: linear-gradient(180deg, rgba(255, 233, 155, 1) 0%, rgba(255, 171, 124, 1) 50%, rgba(255, 86, 80, 1) 100%);
}

.bg-sub-grad {
  background: linear-gradient(180deg, rgba(255, 171, 124, 1) 0%, rgba(255, 86, 80, 1) 100%);
}

.bg-chat-container {
  background: #e5e5e5;
}

.bg-secondary {
  background-color: #f8f8f8;
}

.shadow-container {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.shadow-input {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.45);
}
.forhover:hover {
  background: linear-gradient(180deg, rgb(255, 229, 133) 0%, rgb(255, 151, 91) 50%, rgb(240, 56, 50) 100%);
}

.bg-primary-grad {
  background: linear-gradient(180deg, rgba(255, 233, 155, 1) 0%, rgba(255, 171, 124, 1) 50%, rgba(255, 86, 80, 1) 100%);
}

.bg-sub-grad {
  background: linear-gradient(180deg, rgba(255, 171, 124, 1) 0%, rgba(255, 86, 80, 1) 100%);
}

.bg-secondary {
  background-color: #f8f8f8;
}

.shadow-container {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.shadow-input {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.45);
}

/* font */
.text-dark {
  color: #7b7b7b;
}

.text-dark-thin * {
  color: #ff4949;
  font-weight: 300;
  font-size: 13px;
}

/* border */
.header-border {
  border-bottom: 2px solid #ff4a4a;
}

.border-50 {
  border-radius: 50px;
}

.whiteBtnHover:hover {
  background: rgb(246, 246, 246);
}

.forhover:hover {
  background: linear-gradient(180deg, rgb(255, 229, 133) 0%, rgb(255, 151, 91) 50%, rgb(240, 56, 50) 100%);
}

/* hoverbutton Private */
.forHoverButtonPost:hover {
  background: linear-gradient(180deg, rgb(255, 229, 133) 0%, rgb(255, 151, 91) 50%, rgb(240, 56, 50) 100%);
  /* border: none; */
}

@media screen and (max-width: 1024px) {
  .maxwidth {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .minwidth {
    display: none;
  }
  /* login-register container responsive */
  .login-container {
    height: 92vh;
  }
}
